<div class="dashboard-container">
  <!-- Sidebar -->
  <div [class.collapsed]="isCollapsed" class="sidebar">
    <div class="logo">
      <span class="icon" (click)="toggleSidebar()">☰</span>
      <span *ngIf="!isCollapsed" class="brand-name">SafeGuard</span>
    </div>
    <ul class="menu">
      <li>
        <i class="fas fa-user"></i> <span *ngIf="!isCollapsed">Profile</span>
      </li>
      <li>
        <i class="fas fa-chart-line"></i> <span *ngIf="!isCollapsed">Flows</span>
      </li>
      <li>
        <i class="fas fa-calendar-check"></i> <span *ngIf="!isCollapsed">My Quotes</span>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Navbar -->

    <div class="navbar">
      <input type="text" placeholder="Search by Quote Policy Number..." />
      <div class="user-info">
        <i class="fa-solid fa-bell"></i>
        <i class="fas fa-user-circle profile-icon"></i>
        <span class="user-name">Jahnvi Goyal</span>
        <button (click)="logout()" class="btn">Logout</button>
      </div>
    </div>

    <app-dashboard></app-dashboard>

    <!-- Footer -->
    <!-- <footer class="footer">
      <p>&copy; 2025 SafeGuard. All rights reserved.</p>
    </footer> -->